<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="parent">
	<div class="block">
	<form action="/login" method="POST" >
		<p>Enter your login and password</p>
		<p><input type="text" name = "username" required></p>
		<p><input type="password" name = "password" required></p>
		<p><input type="submit" value="Login"></p>
	</form>
	</div>
</div>
</body>
</html>
